<div class="flex w-full " cdkOverlayOrigin #trigger="cdkOverlayOrigin" [attr.aria-expanded]="isDialogOpen">
  
    <div class="w-full flex items-center">
      <button  class="block flex justify-center items-center gap-1 py-2 px-3 ml-2 shadow-sm  text-xs text-gray-900 border border-gray-300 rounded-lg bg-gray-50 dark:bg-night-700 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        Search courses


        <kbd class="text-xl">⌘</kbd>
        <kbd class="text-xs">K</kbd>
      </button>
    </div>
  </div>
  