<section class="antialiased bg-white dark:bg-night-700 text-gray-600 ">
  <div class="flex flex-col w-full">
    <!-- Table Container with Fixed Height -->
    <div
      class="w-full mx-auto bg-white  rounded-sm  dark:bg-night-700 overflow-y-auto"
    >
      <header
        class="pl-4 pr-2  border-b dark:border-gray-700 flex justify-between items-center"
      >
        
      </header>
      <div class=" bg-white dark:bg-night-700 h-[550px] overflow-y-auto ">
        <div class="overflow-x-auto">
          <table class="table-auto w-full">
            <!-- Your table header goes here -->
            <thead
              class="text-xs font-semibold  dark:text-white text-black bg-white dark:bg-night-700"
            >
              <tr>
                <th class="p-2 whitespace-nowrap">
                  <div class="font-bold text-left">Title</div>
                </th>
                <th class="p-2 whitespace-nowrap">
                  <div class="font-semibold text-left">Price</div>
                </th>
                <th class="p-2 whitespace-nowrap">
                  <div class="font-semibold text-left"></div>
                </th>
                <th class="p-2 whitespace-nowrap">
                  <div class="font-semibold text-left">Description</div>
                </th>
                <th class="p-2 whitespace-nowrap">
                  <div class="font-semibold text-left">Author</div>
                </th>
              </tr>
            </thead>

            <tbody
              class="text-sm  border-b dark:border-gray-700 bg-white dark:bg-night-700"
            >
              <ng-container *ngIf="isLoading; else loadedItems">
                <tr  data-testid="loading-indicator">
                  <td  colspan="5" class="text-center py-8">
                    <div class="text-center flex items-center justify-center" data-testid="loader">
                      <div role="status" >
                        <svg
                          aria-hidden="true"
                          class="inline w-8 h-8 mr-2 text-gray-200 animate-spin dark:text-gray-600 fill-primary-600"
                          viewBox="0 0 100 101"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                            fill="currentColor"
                          />
                          <path
                            d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                            fill="currentFill"
                          />
                        </svg>
                        <span class="sr-only">Loading...</span>
                      </div>
                    </div>
                  </td>
                </tr>
              </ng-container>
              <ng-template #loadedItems>
                <ng-container *ngIf="apiConnected; else apiFailed">
                  <!-- Check if data is available -->
                  <ng-container *ngIf="(rows.length > 0 || filteredRows.length > 0); else noData">
                    <!-- Display items here when there are items to show -->
                    
                    <tr
                    *ngFor="let inventory of (rows.length > 0 ? filteredRows : rows).slice(startIndex, endIndex); let i = index"

                      
                      [course]="inventory"
                      boxes-table-item
                      data-testid="table-item"
                      [attr.data-index]="i"
                      class="border-b    dark:border-gray-700 hover:bg-gray-100  dark:hover:bg-night-600 h-[50px]"
                    ></tr> 
                  </ng-container>
                  <ng-template #noData >
                    <!-- Display this message when there's no data -->
                    <tr>
                      <td colspan="5" class="text-center py-4" data-testid="no-data-message" >
                        No data available
                      </td>
                    </tr>
                  </ng-template>
                </ng-container>
                <ng-template #apiFailed>
                  <!-- Display this message when the API request fails -->
                  <tr>
                    <td colspan="5" class="text-center py-4" data-testid="no-api-message">
                      Failed to connect to the API
                    </td>
                  </tr>
                </ng-template>
              </ng-template>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- Pagination Buttons -->
    <div class="mt-4 flex justify-between">
      <div>
        <span class="text-sm">Viewing <strong>{{currentPage}}</strong>–<strong>{{rows.length}}</strong> of <strong>{{rows.length}}</strong> results</span>
      </div>

      <div class="">
        <button
        [disabled]="currentPage === 1"
        (click)="currentPage = currentPage - 1"
        class="px-2 py-1 text-sm font-medium text-gray-900 bg-night-700 border border-gray-700 rounded-md  disabled:text-gray-400 disabled:opacity-10"
      >
        Previous Page
      </button>
      <button
        [disabled]="endIndex === this.rows.length - 1"
        (click)="currentPage = currentPage + 1"
        type="button"
        data-testid="next-page-button"
        class="ml-2 px-2 py-1 text-sm font-medium text-gray-900 bg-gray-200 border border-gray-700 rounded-md dark:text-gray-300  disabled:opacity-50"
      >
        Next Page
      </button>
      </div>
     
    </div>
  </div>

</section>
