.is__invalid-input {
    border-color: #e11d48;
  }
  
  .is__invalid-error {
    color: #e11d48;
    @apply px-1 pt-1 text-xs;
  }

  .input-psw{
    border-color: #d1d5db; 
    background: #f9fafb ;
  }

  .custom:checked{
    color: #22c55e;
  }
