
  <div class="mt-6 border bg-gray-50 rounded-md ">
    <div class="font-medium flex items-center justify-between border-b p-4">
      <span>Price</span>
    </div>
      <div class="space-y-4 ">
        <div class="p-4">
          <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" [(ngModel)]="selectedOption" (ngModelChange)="updatePrice()">
            <option *ngFor="let option of priceTiers" [value]="option.tier">{{ option.tier }}</option>
          </select>
          </div>
      </div>
  </div>
  
