<div class=" border  rounded-md dark:bg-night-700 dark:border-gray-700 ">
  <div class="font-medium flex items-center justify-between border-b p-4 dark:border-gray-700">
    <span class="px-1 text-xl font-semibold text-gray-800 dark:text-gray-300 ">Course title</span>
  </div>
    <div class="space-y-4 ">
      <div class="p-4">
        <input (input)="onInputChange($event)"  [(ngModel)]="title" id="first_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-night-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Advanced Web development" required>
    </div>
    </div>
</div>


