<div class="mt-6 border  rounded-md dark:bg-gray-800 dark:border-gray-700 ">
  <div class="font-medium flex items-center justify-between border-b p-4">
    <span class="text-xl font-semibold text-gray-800 dark:text-gray-300 dark:hover:text-whit">Course title</span>
  </div>
    <div class="space-y-4 ">
      <div class="p-4">
        <input (input)="onInputChange($event)"  [(ngModel)]="title" id="first_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Advanced Web development" required>
    </div>
    </div>
</div>
