<div class="mt-6">
  <div class="space-y-4">
    <div>
      <div
        *ngIf="userCourses?.length === 0"
        class="flex justify-between border bg-gray-50 rounded-md p-6"
      >
        <div>
          <span class="font-medium">Jump into course creation</span>
        </div>

        <div>
          <img src="path" alt="ready for image" />
        </div>
      </div>

      <div *ngIf="userCourses?.length > 0">
        <div *ngFor="let course of userCourses">
          <div
            class="w-full gap-4 flex my-2 flex justify-between dark:border-gray-700  hover:scale-105 cursor-pointer dark:bg-gray-800 rounded-md"
          >
            <div class="image-wrapper">
              <img
                class="w-48 h-32 object-cover"
                src="{{ course?.coverImageRelativePath }}"
                alt="sss"
              />
            </div>

            <!-- Course details div -->
            <div class="courses-body flex w-full">
              <!-- div 1 (title and status) -->
              <div class="w-2/3 p-2">
                <div class="flex flex-col space-y-12">
                  <div class="text-xl font-semibold text-gray-800 dark:text-gray-300 dark:hover:text-whit">{{ course.title }}</div>
                  <div>
                    <span
                      *ngIf="!course?.isPublished"
                      class="bg-orange-300 text-orange-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300"
                      >DRAFT</span
                    >
                    <span
                      *ngIf="course?.isPublished"
                      class="bg-green-300 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300"
                      >PUBLISHED</span
                    >
                  </div>
                </div>
              </div>

              <div class="w-1/3 flex items-center justify-center">
                <button
                  (click)="goToDetailPage(course.id)"
                  data-testid="open-modal-button"
                  class="flex-none button rounded-md bg-primary-500 px-4 py-2.5 text-xs font-semibold text-white hover:bg-primary-600"
                >
                  Edit
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
