<div class="mt-6 border bg-gray-50 rounded-md s">
  <div class="font-medium flex items-center justify-between border-b p-4">
    <span>Course description</span>
  </div>
  <div class="space-y-4">
    <div class="NgxEditor__Wrapper" class="p-4 bg-gray-50  ">
      <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
      <ngx-editor
        (input)="onInputChange($event)" 
        (change)="onInputChange($event)"
        [editor]="editor"
        [ngModel]="courseDescription"
        [disabled]="false"
        [placeholder]="'Type here...'"
      ></ngx-editor>
    </div>
  </div>
</div>
