<div class="mt-6 border  rounded-md  dark:bg-gray-800 dark:border-gray-700">
  <div class="font-medium flex items-center justify-between border-b p-4 ">
    <span class="text-xl font-semibold text-gray-800 dark:text-gray-300">Course description</span>
  </div>
  <div class="space-y-4">
    <div class="NgxEditor__Wrapper" class="p-4  dark:bg-gray-800 dark:border-gray-700">
      <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
      <ngx-editor
        (input)="onInputChange($event)" 
        (change)="onInputChange($event)"
        [editor]="editor"
        [ngModel]="courseDescription"
        [disabled]="false"
        [placeholder]="'Type here...'"
      ></ngx-editor>
    </div>
  </div>
</div>
