<!-- Your sidebar page -->
<!-- <div class="mx-auto px-4 py-4 sm:px-8 lg:container sm:container bg-white dark:bg-night-700  ">
  <div class=" px-5 ">
    <div class=" mx-auto flex flex-wrap">
      <img alt="ecommerce" class="lg:w-1/2 w-full  object-cover object-center rounded border border-gray-200" src="{{ course?.coverImageRelativePath}}">
      <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
        <h2 class="text-sm title-font text-gray-500 tracking-widest ">BRAND NAME</h2>
        <h1 class="text-gray-900 text-3xl title-font font-medium mb-1 dark:text-gray-400">{{ course?.title}}</h1>
        <div class="flex mb-4">
          <span class="flex items-center">
            <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-red-500" viewBox="0 0 24 24">
              <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
            </svg>
            <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-red-500" viewBox="0 0 24 24">
              <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
            </svg>
            <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-red-500" viewBox="0 0 24 24">
              <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
            </svg>
            <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-red-500" viewBox="0 0 24 24">
              <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
            </svg>
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-red-500" viewBox="0 0 24 24">
              <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
            </svg>
            <span class="text-gray-600 ml-3">4 Reviews</span>
          </span>
          <span class="flex ml-3 pl-3 py-2 border-l-2 border-gray-200">
            <a class="text-gray-500">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
              </svg>
            </a>
            <a class="ml-2 text-gray-500">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
              </svg>
            </a>
            <a class="ml-2 text-gray-500">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
              </svg>
            </a>
          </span>
        </div>
        <p class="leading-relaxed dark:text-gray-400">Fam locavore kickstarter distillery. Mixtape chillwave tumeric sriracha taximy chia microdosing tilde DIY. XOXO fam indxgo juiceramps cornhole raw denim forage brooklyn. Everyday carry +1 seitan poutine tumeric. Gastropub blue bottle austin listicle pour-over, neutra jean shorts keytar banjo tattooed umami cardigan.</p>
        <div class="flex mt-6 items-center pb-5 border-b-2 border-gray-200 mb-5">
          <div class="flex">
            <span class="mr-3 dark:text-white">Color</span>
            <button class="border-2 border-gray-300 rounded-full w-6 h-6 focus:outline-none"></button>
            <button class="border-2 border-gray-300 ml-1 bg-gray-700 rounded-full w-6 h-6 focus:outline-none"></button>
            <button class="border-2 border-gray-300 ml-1 bg-red-500 rounded-full w-6 h-6 focus:outline-none"></button>
          </div>
          <div class="flex ml-6 items-center">
            <span class="mr-3">Size</span>
            <div class="relative">
              <select class="rounded border appearance-none border-gray-400 py-2 focus:outline-none focus:border-red-500 text-base pl-3 pr-10">
                <option>SM</option>
                <option>M</option>
                <option>L</option>
                <option>XL</option>
              </select>
              <span class="absolute right-0 top-0 h-full w-10 text-center text-gray-600 pointer-events-none flex items-center justify-center">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4" viewBox="0 0 24 24">
                  <path d="M6 9l6 6 6-6"></path>
                </svg>
              </span>
            </div>
          </div>
        </div>
        <div class="flex">
          <span class="title-font font-medium text-2xl text-gray-900 dark:text-green-400">{{ course?.price }} $</span>
          <button class="flex ml-auto text-white bg-red-500 border-0 py-2 px-6 focus:outline-none hover:bg-red-600 rounded">Add to cart</button>
          <button class="rounded-full w-10 h-10 bg-gray-200 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-4">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div> -->

<!-- </div> -->

<div class="p-6">
  <div class="flex items-center justify-between">
    <div class="flex flex-col gap-y-2">
      <h2 class="text-2xl  dark:text-white">
        Course setup
    </h2>
      <span class="text-sm text-slate-700 dark:text-white">
        Complete all fields {{ completionText }}
      </span>
    </div>

    <div class="flex items-center gap-x-2">
      <button
        class="flex-none button rounded-md bg-primary-500 px-4 py-2.5 text-xs font-semibold text-white hover:bg-primary-600"
      >
         Publish
      </button>
    </div>
  </div>
</div>
<div class="grid grid-cols-1 md:grid-cols-2 gap-6 mx-auto ">
  <div>
    <div class="flex items-center gap-x-2">
      <h2 class="text-xl dark:text-white">Customize your course</h2>
    </div>

    <!-- TITLE START BOX  -->
    <div class="mt-6 border bg-slate-100 rounded-md p-4">
      <div class="font-medium flex items-center justify-between">
        Course title
        <button class="text-blue-500" (click)="toggleEdit()" [ngClass]="{ hidden: isEditing }">
          <span>Edit title</span>
          <span class="ml-2">
            <i class="fas fa-pencil-alt"></i>
          </span>
        </button>
        <button *ngIf="isEditing" (click)="toggleEdit()" class="text-red-500">Cancel</button>
      </div>
      <ng-container *ngIf="!isEditing">
        <p class="text-sm mt-2">Frontend course</p>
      </ng-container>
      <ng-container *ngIf="isEditing">
        <form>
          <div class="space-y-4 mt-4">
            <div class="mb-4">
              <label
                for="title"
                class="block text-sm font-medium text-gray-700"
              >
                Title
              </label>
              <input
                id="title"
                type="text"
                placeholder="e.g. 'Advanced web development'"
                class="mt-1 p-2 border rounded-md w-full"
              />
              <div class="text-red-500 text-sm mt-1">Title is required</div>
            </div>
            <div class="flex items-center gap-x-2">
              <button
               
                class="bg-blue-500 text-white px-4 py-2 rounded-md"
              >
                Save
              </button>
            </div>
          </div>
        </form>
      </ng-container>
    </div>

    <!-- TITLE END BOX  -->


    <!-- DESCRIPTION -->

    <div class="mt-6 border bg-slate-100 rounded-md p-4">
      <div class="font-medium flex items-center justify-between">
        Course description
        <button class="text-blue-500" [ngClass]="{ hidden: isEditing }">
          <span>Edit description</span>
          <span class="ml-2">
            <i class="fas fa-pencil-alt"></i>
          </span>
        </button>
        <button *ngIf="isEditing" class="text-red-500">Cancel</button>
      </div>
      <ng-container *ngIf="!isEditing">
        <p class="text-sm mt-2">
          {{ "No description" }}
        </p>
      </ng-container>
      <ng-container *ngIf="isEditing">
        <form>
          <div class="space-y-4 mt-4">
            <div class="mb-4">
              <label
                for="description"
                class="block text-sm font-medium text-gray-700"
              >
                Description
              </label>
              <textarea
                id="description"
                placeholder="e.g. 'This course is about...'"
                class="mt-1 p-2 border rounded-md w-full"
              ></textarea>
              <div class="text-red-500 text-sm mt-1">
                Description is required
              </div>
            </div>
            <div class="flex items-center gap-x-2">
              <button
              
                class="bg-blue-500 text-white px-4 py-2 rounded-md"
              >
                Save
              </button>
            </div>
          </div>
        </form>
      </ng-container>
    </div>
    <!-- DESCRIPTION END-->


    <!-- CATEGORIES -->

    <div class="mt-6 border bg-slate-100 rounded-md p-4">
        <div class="font-medium flex items-center justify-between">
          Course category
          <button class="bg-transparent   rounded px-2">
            <ng-container *ngIf="isEditing; else editCategory">
              Cancel
            </ng-container>
            <ng-template #editCategory>
                <button class="text-blue-500">
                    <span>Edit categories</span>
                    <span class="ml-2">
                      <i class="fas fa-pencil-alt"></i>
                      <!-- PLACE FOR ICON -->
                    </span>
                  </button>
            </ng-template>
          </button>
        </div>
        <ng-container *ngIf="!isEditing; else editCategoryView">
          <p class="text-sm mt-2" >
         'No category' 
          </p>
        </ng-container>
        
        <ng-template #editCategoryView>
          <div  class="space-y-4 mt-4">
            <ng-select
            [items]="categories$ | async"
            [multiple]="true"
            [closeOnSelect]="false"
            [hideSelected]="true"
            bindLabel="name"
            placeholder="Select categories"
            [(ngModel)]="selectedCategories">
        </ng-select>
        
           
          
        
            <div class="flex items-center gap-x-2">
              <button  class="bg-blue-500 text-white px-4 py-2 rounded">
                Save
              </button>
            </div>
        </div>
        </ng-template>
      </div>
      

       <!-- CATEGORIES  END-->


        <!-- IMAGE UPLOAD -->
    <div class="mt-6 border bg-slate-100 rounded-md p-4">
      <div class="font-medium flex items-center justify-between">
        Course image
        <button *ngIf="isEditing" class="text-red-500">Cancel</button>
        <button class="text-blue-500">
          <span>Edit image</span>
          <span class="ml-2">
            <i class="fas fa-pencil-alt"></i>
          </span>
        </button>
      </div>
      <ng-container *ngIf="!isEditing">
        <ng-container>
          <div class="relative aspect-video mt-2">
            <img
              alt="Upload"
              class="object-cover rounded-md"
              src="https://github.com/TomasSirotek/SkillSphere/assets/72190589/8df94a8b-97c4-4cc2-af17-a637e4df69f0"
            />
          </div>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="isEditing">
        <div>
          <div class="text-xs text-muted-foreground mt-4">
            16:9 aspect ratio recommended
          </div>
        </div>
      </ng-container>
    </div>


  </div>



  <div class="space-y-6 dark:text-black">
    <div>
      <div class="flex items-center gap-x-2 ">
        <h2 class="text-xl">Course chapters</h2>
      </div>

      <div class="relative mt-6 border bg-slate-100 rounded-md p-4">
        <div
          *ngIf="isUpdating"
          class="absolute h-full w-full bg-slate-500/20 top-0 right-0 rounded-md flex items-center justify-center"
        >
          <div class="animate-spin h-6 w-6 text-sky-700">
            <!-- Add loader icon here -->
          </div>
        </div>
        <div class="font-medium flex items-center justify-between">
          Course chapters
          <button class="text-blue-500" [ngClass]="{ hidden: isCreating }">
            <span>Add a chapter</span>
            <span class="ml-2">
              <i class="fas fa-plus-circle"></i>
            </span>
          </button>
          <button *ngIf="isCreating" class="text-red-500">Cancel</button>
        </div>
        <ng-container *ngIf="isCreating">
          <form>
            <div class="space-y-4 mt-4">
              <div class="form-item">
                <div class="form-control">
                  <input
                    [disabled]="isSubmitting"
                    placeholder="e.g. 'Introduction to the course'"
                    formControlName="title"
                  />
                </div>
                <div class="form-message"></div>
              </div>
              <button type="submit">Create</button>
            </div>
          </form>
        </ng-container>
        <ng-container *ngIf="!isCreating">
          <div class="text-sm mt-2 text-slate-500 italic">No chapters</div>
          <!-- <chapters-list
                *ngIf="initialData.chapters.length"
                [items]="initialData.chapters"
                (onEdit)="onEdit($event)"
                (onReorder)="onReorder($event)"
              ></chapters-list> -->



             




          <p class="text-xs text-muted-foreground mt-4">
            Drag and drop to reorder the chapters
          </p>
        </ng-container>
      </div>
    </div>
    <div>
      <div class="flex items-center gap-x-2">
        <h2 class="text-xl">Sell your course</h2>
      </div>
    </div>
    <div></div>
  </div>
</div>
