<div class="mt-6 border  rounded-md  dark:bg-gray-800 dark:border-gray-700">
  <div class="font-medium flex items-center justify-between border-b p-4">
    <span class="text-md font-semibold text-gray-800 dark:text-gray-300">Course Categories</span>
  </div>
  <div class="space-y-4">
    <div class="p-4">
      <ng-select
        [items]="categories$ | async"
        [multiple]="true"
        [closeOnSelect]="false"
        [hideSelected]="true"
        bindLabel="name"
        placeholder="Select categories"
        [(ngModel)]="courseCategories"
        (ngModelChange)="onCategoriesChange()"
      >
      </ng-select>
     
  </div>
</div>
