<!-- login form -->
<form class="my-10 space-y-6" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="text-center">
      <h2 class="mb-1 text-3xl font-semibold text-gray-700 dark:text-white">
        Hello Again <span class="text-primary-500">!</span>
      </h2>
      <p class="text-sm text-gray-400 dark:text-night-200">Enter your credential to access your account.</p>
    </div>
  

    <div class="space-y-3 text-left">
      <div class="form__group">
        <div class="relative">
          <input
            type="text"
            id="email"
            [ngClass]="{ 'is__invalid-input': submitted && f['email'].errors }"
            class="peer block"
            placeholder=" "
            formControlName="email" />
          <label
            for="email"
            class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary-500 dark:bg-night-700 dark:text-night-200">
            Email address
          </label>
        </div>
        <div *ngIf="submitted && f['email'].errors" class="is__invalid-error">
          <div *ngIf="f['email'].errors['required']">Required field</div>
          <div *ngIf="f['email'].errors['email']">Email must be an email address valid</div>
        </div>
      </div>
  
      <div class="form__group">
        <div class="relative">
          <input
            [type]="passwordTextType ? 'text' : 'password'"
            id="password"
            [ngClass]="{ 'is__invalid-input': submitted && f['email'].errors }"
            class="peer block"
            placeholder=" "
            formControlName="password" />
          <label
            for="password"
            class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary-600 dark:bg-night-700 dark:text-night-200">
            Password
          </label>
          <span
            class="absolute top-2.5 right-5 cursor-pointer text-gray-400 dark:text-night-300"
            (click)="togglePasswordTextType()">
            
          
          </span>
        </div>
        <div *ngIf="submitted && f['password'].errors" class="is__invalid-error">
          <div *ngIf="f['password'].errors['required']">Required field</div>
        </div>
      </div>
    </div>
  
    <div class="flex items-center justify-between space-x-3">
      <div class="flex items-center">
        <input id="remember-me" name="remember-me" type="checkbox" />
        <label for="remember-me" class="ml-2 block text-sm text-gray-400 dark:text-night-200"> Remember me </label>
      </div>
  
      <!-- <div class="text-sm">
        <a routerLink="/auth/forgot-password" class="font-medium text-primary-500 hover:text-primary-400">
          Forgot your password?
        </a>
      </div> -->
    </div>
  
    <!-- Submit Button -->
    <button
      class="group relative mb-10 flex w-full justify-center rounded-md border border-transparent bg-primary-500 py-2 px-4 text-sm font-medium text-white focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2 hover:bg-primary-400">
      Sign in
    </button>
  
    <!-- Sign-up -->
    <div class="text-sm text-gray-400 dark:text-night-200">
      Not a Member yet? <a routerLink="/register" class="text-primary-500 hover:text-primary-400">Register</a>
    </div>
  </form>
  