<div class="flex h-screen w-full overflow-hidden">
  <!-- Sidebar -->

  <app-sidebar></app-sidebar>

  <div class="flex grow flex-col content-start bg-gray-100 dark:bg-night-800">
    <!-- Header -->
    <app-navbar></app-navbar>
    <!-- main content -->
    <div
      class="bg-white dark:bg-night-700 scrollbar-thumb-rounded scrollbar-track-rounded grow overflow-auto scrollbar-thin scrollbar-thumb-white scrollbar-track-gray-100 dark:scrollbar-thumb-night-700 dark:scrollbar-track-night-800"
    >
      <router-outlet></router-outlet>
    </div>

 >

    <div
      id="modalCreate"
      tabindex="-1"
      aria-hidden="true"
      class="bg-red-500 hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
    >
      <ng-template
        cdkConnectedOverlay
        [cdkConnectedOverlayOpen]="this.searchService.showSearch"
      >
        <!-- Your overlay content here -->
        <div
          class="cmdk-wrapper absolute top-0 bottom-0 z-40 flex items-center justify-center"
          [ngClass]="{ dark: this.themeService.isDark }"
        >
          <span
            class="bg-gray-900 bg-opacity-50 dark:bg-opacity-80 absolute -z-50 inset-0"
          ></span>
          <div class="vercel">
            <cmdk-command
              (keydown)="onKeyDown($event)"
              [ngStyle]="{ transform: styleTransform }"
              [loop]="true"
            >
              <div>
                <div *ngFor="let p of pages" class="cmdk-vercel-badge">
                  {{ p }}
                </div>
              </div>
              <input
                cmdkInput
                autofocus
                class="focus:outline-none focus:ring-0"
                placeholder="What do you need?"
                (change)="setInputValue($event)"
              />
              <cmdk-list>
                <div *cmdkEmpty>No results found.</div>
                <ng-container *ngIf="activePage === 'home'">
                  <cmdk-group
                    [label]="group.group"
                    *ngFor="let group of groups"
                  >
                    <ng-container *ngFor="let item of group.items">
                      <cmdk-separator
                        *ngIf="item.separatorOnTop"
                      ></cmdk-separator>
                      <button
                        cmdkItem
                        [value]="item.label"
                        (selected)="item.itemSelected && item.itemSelected()"
                      >
                        <ng-container></ng-container>
                        {{ item.label }}
                      </button>
                    </ng-container>
                  </cmdk-group>
                </ng-container>
                <ng-container *ngIf="activePage === 'courses'">
                  <button
                    cmdkItem
                    (click)="selectProject(item)"
                    *ngFor="let item of filteredProjectItems; let i = index"
                    [value]="'Project' + (i + 1)"
                    [class.selected]="i === selectedProjectIndex"
                  >
                    {{ item.title }}
                  </button>
                </ng-container>
                <ng-container *ngIf="activePage === 'my-courses'">
                  <button
                    cmdkItem
                    *ngFor="let item of filteredProjectItems; let i = index"
                    [value]="'Project' + (i + 1)"
                  >
                    {{ item.title }}
                  </button>
                </ng-container>
              </cmdk-list>
            </cmdk-command>
          </div>
        </div>
      </ng-template>
    </div>

   
  </div>
</div>
