<nav
  [ngClass]="menuService.showSideBar ? 'w-52 xl:w-64' : 'w-[70px]'"
  class=" border-r border-gray-200 dark:text-gray-400 dark:border-gray-700  scrollbar-thumb-rounded scrollbar-track-rounded hidden h-full flex-col justify-between overflow-auto bg-white pt-3 transition-all duration-300 scrollbar-thin scrollbar-track-gray-50 scrollbar-thumb-gray-100 dark:bg-night-700 dark:scrollbar-thumb-night-500 dark:scrollbar-track-night-600 lg:flex">
  <div class="px-6">
    <!-- Logo -->
    <div class="relative h-10 ">
      <div class="flex items-center justify-left  py-2 " *ngIf="menuService.showSideBar">
        <a class="flex items-center  justify-center rounded focus:outline-none focus:ring-1 dark:text-night-400">
          <b class="text-2xl font-bold dark:text-night-50">
            <!-- {{ appJson.displayName }} -->
            <span class="text-primary-500">Skill</span>Sphere
          </b>
        </a>
      </div>
      
      <div  >

        <button
        (click)="toggleSidebar()"
        class="absolute top-3 right-0 flex h-6 w-6 items-center justify-center rounded text-gray-400 transition-all duration-200 focus:outline-none hover:text-gray-500 dark:text-night-400 dark:hover:text-night-300"
        [ngClass]="{ 'rotate-180': !menuService.showSideBar }">
        <ng-icon class="text-md rotate-90" name="heroArrowDownTray"></ng-icon>
      </button>
      
    </div>
      
    </div>

    <!-- Separator -->
    <!-- <div class="pt-3">
      <hr class="border border-gray-200 dark:border-night-500" />
    </div>  -->

    <!-- Menu Items -->
    <app-sidebar-menu></app-sidebar-menu>
  </div>

  <div class="mx-4 my-4 space-y-1 ">

 

    <!-- Dark Theme -->
    <div
      (click)="toggleTheme()"
      class="group flex h-9 cursor-pointer items-center justify-start rounded p-2 hover:bg-gray-100 dark:hover:bg-night-600">
     
      <ng-icon class="text-xl h-5 w-5 text-gray-400 dark:text-night-400" [name]="
      themeService.isDark ? 'heroSun' : 'heroMoon'
    "></ng-icon>
      <a class="ml-3 truncate text-xs font-semibold tracking-wide text-gray-600 focus:outline-none dark:text-night-100">
        {{ themeService.isDark ? 'Light Mode' : 'Dark Mode' }}
      </a>

      <div class="fixed w-full" *ngIf="!menuService.showSideBar">
        <span
          class="z-1 absolute left-12 -top-4 w-auto min-w-max origin-left scale-0 rounded-md bg-black p-2 text-xs font-bold text-white shadow-md transition-all duration-200 group-hover:scale-100 dark:bg-white dark:text-night-900">
          Theme
        </span>
      </div>
    </div>
    <!-- Sign out -->
    <div
      class="group flex h-9 cursor-pointer items-center justify-start rounded p-2  hover:bg-gray-100 dark:hover:bg-night-600 text-gray-400 dark:text-night-400">
      <ng-icon class="text-xl h-5 w-5 text-gray-400 dark:text-night-400" name="  heroArrowLeftOnRectangle"></ng-icon>
      <a
        routerLink="/auth"
        class="ml-3 truncate text-xs font-semibold tracking-wide text-gray-600 focus:outline-none dark:text-night-100">
        Sign out
      </a>

      <div class="fixed w-full" *ngIf="!menuService.showSideBar">
        <span
          class=" text-gray-400 dark:text-night-400 z-1 absolute left-12 -top-4 w-auto min-w-max origin-left scale-0 rounded-md bg-black p-2 text-xs font-bold text-white shadow-md transition-all duration-200 group-hover:scale-100 dark:bg-white dark:text-night-900">
          Sign out
        </span>
      </div>
    </div>
   
  </div>
</nav>